.delay-help {
    width: 300px;
    height: 200px;
    position: relative;
    right: 280px;
    top: 19px;
    background-color: burlywood;
    opacity: 0.7;
    z-index: 2;
}


#question-mark {
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.help {
    width: 30px;
    padding-left: 20px;
}

label.label-delay {
    margin-right: 10px;
    margin-left:10px;
}
