.delay-help {
    width: 160px;
    height: 200px;
    background-color: '#DBE4EE';
    position: relative;
    right: 100px;
    top: 100px;
    background-color: burlywood;
}


#question-mark {
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.help {
    width: 30px;
}
label.label-delay {
    margin-right: 10px;
    margin-left:10px;
}
