.speed-slider {
    width: 450px;
    height: 60px;
    padding: 10px;
    border-right: 10px;
    background-color: #BFC0C0;
    display: flex;
    flex-direction: row;
}

.controls {
    width: 450px;
    height: 445px;
    background-color: #DAE2DF;
}
    .question-mark {
    box-sizing: border-box;
    padding: 20px;
}

