html {
  background-color: #DAE2DF;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.App  {
  display: flex;
  flex-direction: column;

}

.header {
  display: inline-block;
}

.viz {
  background-color: black;
}

.controls {
  width: 350px;
  height: 445px;
  background-color: #DAE2DF;
}